:host {
    display: flex;
    height: calc(100% - 95px);
    flex-direction: column;
    padding: 10px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

.mainWrapper {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 800px;
}

.mainWrapper div {
    width: 500px;
}